.app {
  background-color: pink;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
  background-color:rgba(0, 140, 255, 0.4);
  border-radius: 0.125rem;
}

.screen-grid {
  position: absolute;
  z-index: 1;
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

.btn {
  @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}

.input-panel {
  position: absolute;
  top: 1rem;
  left: 25vw;
  z-index: 5;
  width: 50vw;
  height: 3rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1366px) {
  .input-panel {
    top: 1rem;
    left: 1rem;
    width: calc(100vw - 2rem);
  }
}

.reports-list {
  position: absolute;
  z-index: 2;
  min-width: 14rem;
}

.theme-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}

.scroll-info {
  position: absolute;
  z-index: 4;
}

.scroll-info span {
  font-size: 0.75rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
