.app {
  background-color: pink;
  height: 100vh;
}

.screen-grid {
  position: absolute;
  z-index: 1;
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

.reports-list {
  position: absolute;
  z-index: 2;
}
